<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>NO I BENC</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


<nav class="navbar navbar-expand-md">
    <a href="/" class="navbar-brand col-xs-4">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbar3">
        <ul class="col-xs-4 navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="/offices">Offices</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/treatments">Treatments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/doctors">Doctors</a></li>
            <li class="nav-item">
                <a class="nav-link" href="/news">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/prices">Prices</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>
        <div class="nav col-xs-4 navbar-nav">
            <div class="dropdown" sec:authorize="isAuthenticated()">
                <div class="form-inline my-2 my-lg-0 dropdown">
                    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/visits">Your visits</a>
                        <a class="dropdown-item" href="/bookVisit">Book visit</a>
                        <a class="dropdown-item" href="/accountInfo">Account info</a>
                        <a class="dropdown-item" href="/medicalHistory">Medical history</a>
                        <form th:action="@{/logout}" method="get">
                            <button class="btn btn-md btn-danger btn-block" name="registration"
                                    type="Submit">Logout
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div sec:authorize="isAnonymous()">
                <a href="/login" class="btn btn-outline-success my-2 my-sm-0">Log in</a>
                <a href="/registration" class="btn btn-outline-success my-2 my-sm-0">Register</a>
            </div>
        </div>
    </div>
</nav>


<div class="container">
<div class="time-line" style="margin-top: 10px">
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a class="nav-link active time-line-button" href="/bookVisit"
               th:text="${session.office} ? '1. Office (' + ${session.office.getType()} + ')' : '1. Office'"
               th:href="${session.office} ? '/bookVisit' : '#'">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled time-line-button" href="/treatment"
               th:text="${session.treatment} ? '2. Treatment (' + ${session.treatment.getType()} + ')' : '2. Treatment'"
               th:class="${session.office} ? 'nav-link active time-line-button' : 'nav-link disabled time-line-button'"
               th:href="${session.treatment} ? '/treatment' : '#'">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled time-line-button" href="/doctor"
               th:text="${session.doctor} ? '3. Doctor (' + ${session.doctor.getFirstName()} + ')' : '3. Doctor'"
               th:class="${session.treatment} ? 'nav-link active time-line-button' : 'nav-link disabled time-line-button'"
               th:href="${session.doctor} ? '/doctor' : '#'"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled time-line-button" href="/time"
               th:text="${session.date} ? '4. Time (' + ${session.date.getDate().toString()} + ', ' + ${session.meeting.getStartTime().toString()} + ')' : '4.Time'"
               th:class="${session.doctor} ? 'nav-link active time-line-button' : 'nav-link disabled time-line-button'"
               th:href="${session.date} ? '/time' : '#'"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled time-line-button" href="#"
               th:class="${session.date} ? 'nav-link active time-line-button' : 'nav-link disabled time-line-button'">5. Book</a>
        </li>
    </ul>
</div>

    <div th:each="office : ${offices}">
        <div class="card" style="margin-top: 10px">
            <h5 class="card-header" th:text="${office.getType()}"></h5>
            <div class="card-body">
                <p class="card-text" th:text="${office.getDescription()}"></p>
                <form th:action="@{/treatment}"  method="post" th:object="${office}">
                    <input type="hidden" name="officeID" th:value="*{getId()}" />
                    <button type="submit" class="btn btn-primary">Choose</button>
                </form>
            </div>
        </div>
    </div>

    <div th:each="treatment : ${treatments}">
        <div class="card" style="margin-top: 10px">
            <h5 class="card-header" th:text="${treatment.getType()}"></h5>
            <div class="card-body">
                <p class="card-text" th:text="${treatment.getDescription()}"></p>
                <form th:action="@{/doctor}"  method="post" th:object="${treatment}">
                    <input type="hidden" name="treatmentID" th:value="*{getId()}" />
                    <button type="submit" class="btn btn-primary">Choose</button>
                </form>
            </div>
        </div>
    </div>

    <div th:each="doctor : ${doctors}">
        <div class="card" style="margin-top: 10px">
            <h5 class="card-header" th:text="${doctor.getFirstName()}"></h5>
            <div class="card-body">
                <p class="card-text" th:text="${doctor.getDescription()}"></p>
                <form th:action="@{/time}"  method="post" th:object="${doctor}">
                    <input type="hidden" name="doctorID" th:value="*{getId()}" />
                    <button type="submit" class="btn btn-primary">Choose</button>
                </form>
            </div>
        </div>
    </div>

    <div th:each="date : ${dates}">
        <div class="card" style="margin-top: 10px">
            <h5 class="card-header" th:text="${date.getDate().toString()}"></h5>
            <div class="card-body">
                <div>
                    <ul th:each="meeting : ${date.getMeetings()}" class="list-group list-group-horizontal" style="display: inline-block">
                        <li class="list-group-item" th:if="${meeting.isAvailable()}">
                            <form th:action="@{/book}"  method="post" th:object="${meeting}">
                                <input type="hidden" name="meetingID" th:value="*{getId()}" />
                                <input type="hidden" name="dateID" th:value="${date.getId()}" />
                                <button class="btn btn-info" type="submit" th:text="${meeting.getStartTime()}"></button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${confirm == true}" style="justify-content: center; display: grid">
        <form th:action="@{/confirm}" method="post" th:object="${session.customer}">
            <div class="card" style="width: 18rem; margin-top: 10px">
                <div class="card-header">
                    Visit information
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:text="'Office: ' + ${session.office.getType()}"></li>
                    <li class="list-group-item" th:text="'Treatment: ' + ${session.treatment.getType()}"></li>
                    <li class="list-group-item" th:text="'Doctor: ' + ${session.doctor.getFirstName()} + ' ' + ${session.doctor.getSurname()}"></li>
                    <li class="list-group-item" th:text="'Date: ' + ${session.date.getDate().toString()}"></li>
                    <li class="list-group-item" th:text="'Time: ' + ${session.meeting.getStartTime().toString()}"></li>
                </ul>
                <input type="hidden" name="customerID" th:value="*{getId()}">
                <button class="btn btn-primary" type="submit">Confirm</button>
            </div>
        </form>
    </div>

</div>
</body>
</html>