<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>NO I BENC</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-md">
    <a href="/" class="navbar-brand col-xs-4">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbar3">
        <ul class="col-xs-4 navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="/offices">Offices</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/treatments">Treatments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/doctors">Doctors</a></li>
            <li class="nav-item">
                <a class="nav-link" href="/news">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/prices">Prices</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>
        <div class="nav col-xs-4 navbar-nav">
            <div class="dropdown" sec:authorize="isAuthenticated()">
                <div class="form-inline my-2 my-lg-0 dropdown">
                    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/visits">Your visits</a>
                        <a class="dropdown-item" href="/bookVisit">Book visit</a>
                        <a class="dropdown-item" href="/accountInfo">Account info</a>
                        <a class="dropdown-item" href="/medicalHistory">Medical history</a>
                        <form th:action="@{/logout}" method="get">
                            <button class="btn btn-md btn-danger btn-block" name="registration"
                                    type="Submit">Logout
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div sec:authorize="isAnonymous()">
                <a href="/login" class="btn btn-outline-success my-2 my-sm-0">Log in</a>
                <a href="/registration" class="btn btn-outline-success my-2 my-sm-0">Register</a>
            </div>
        </div>
    </div>
</nav>


<div class="container">
    Visits:
    <div class="card">
        <div class="card-body">
            <div th:each="visit : ${medicalHistory.getVisits()}">
                <div class="card" style="margin-top: 10px">
                    <h5 class="card-header" th:text="${visit.date.toString()}"></h5>
                    <div class="card-body">
                        <div class="card mb-4">
                            <div class="card-body">
                                <p class="card-text" th:text="'Treatment type: ' + ${visit.treatment.getType()}"></p>
                                <p class="card-text" th:text="'Price: ' + ${visit.treatment.getPrice()}"></p>
                                <p class="card-text" th:text="'Doctor: ' + ${visit.doctor.firstName} + ' ' + ${visit.doctor.surname}"></p>
                                <p class="card-text" th:text="'Date: ' + ${visit.date.toString()}"></p>
                                <p class="card-text" th:text="'Time: ' + ${visit.meeting.startTime.toString()} + ' ' + ${visit.meeting.endTime.toString()}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>